.wrap {
  max-width: 1530px;
  margin: 0px auto;
  padding: 0px 15px;
}

img.lazy {
  opacity: 0;
}

img.loaded {
  opacity: 1;
  transition: 0.3s;
}

.logo {
  max-width: 130px;
  margin: 0px 10px;
}
.logo img {
  width: 100%;
}

.title {
  font-size: 30px;
  text-align: center;
  color: #0E0E0E;
  font-family: "Montserrat";
  text-transform: uppercase;
  margin-bottom: 40px;
}

.subheading {
  font-size: 14px;
  font-family: "Graphik";
  text-transform: uppercase;
  letter-spacing: 1.3px;
  margin-bottom: 10px;
}
.subheading--big {
  font-size: 18px;
}

.heading {
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  text-decoration: none;
  color: inherit;
}
.heading--big {
  font-size: 33px;
  letter-spacing: 2.5px;
}

a.heading {
  transition: 0.3s;
}
a.heading:hover {
  color: #cccccc;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(290px, 360px));
  grid-gap: 30px;
  justify-content: center;
}
.grid__item {
  text-decoration: none;
  overflow: hidden;
  position: relative;
}

.badge {
  display: block;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 11px;
  position: absolute;
  text-transform: uppercase;
  padding: 8px;
  top: 25px;
  left: 25px;
}
.badge--big {
  font-size: 14px;
}

.button {
  display: block;
  max-width: -webkit-min-content;
  max-width: min-content;
  padding: 10px 35px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  font-family: "Montserrat";
  font-weight: 800;
  transition: 0.3s;
  border: 1px solid #fff;
  box-sizing: border-box;
}
.button--big {
  padding: 15px 55px;
}
.button:hover {
  background: #000;
  color: #ffffff;
}

.header {
  background: #0E0E0E;
  font-family: "Montserrat";
  font-weight: 500;
}
.header__wrap {
  display: flex;
  align-items: center;
  padding: 25px 15px;
}
.header__search {
  display: flex;
  align-items: center;
  max-width: 100px;
  height: 27px;
  margin-right: 60px;
}
.header__search-icon {
  min-width: 25px;
  margin-right: 8px;
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
}
.header__search-field {
  border: none;
  color: #ffffff;
  box-sizing: border-box;
  padding-left: 10px;
  border-bottom: 2px solid #fff;
  width: 100%;
  background: #0E0E0E;
  height: 100%;
}
.header__col {
  display: flex;
  align-items: center;
  width: 100%;
}
.header__col--big {
  max-width: 635px;
}
.header__col--small {
  max-width: 260px;
  justify-content: center;
}
.header__col:last-child {
  justify-content: flex-end;
  align-items: flex-end;
}
.header__lang {
  display: flex;
}
.header__lang-item {
  text-decoration: none;
  text-align: center;
  line-height: 45px;
  text-transform: uppercase;
  font-size: 14px;
  color: #B3ADAF;
  width: 45px;
  height: 45px;
  border: 1px solid #F6F1EF;
  background: #000000;
  font-weight: 700;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  transition: 0.3s;
}
.header__lang-item:not(:first-child) {
  margin-left: -10px;
}
.header__lang-item:last-child {
  z-index: 1;
}
.header__lang-item--active {
  z-index: 3;
  color: #0E0E0E;
  background: #B3ADAF;
}
.header__lang-item:hover {
  color: #0E0E0E;
  background: #B3ADAF;
}
.header__phone {
  display: flex;
  margin-right: 50px;
  margin-bottom: 10px;
}
.header__phone .icon-phone {
  margin-right: 10px;
  color: #ffffff;
}
.header__phone-body {
  font-size: 19px;
}
.header__phone-body a {
  color: #ffffff;
  text-decoration: none;
}
.header__phone-body a:hover {
  text-decoration: underline;
}
.header__phone-body span {
  color: #ffffff;
}
.header__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
}
.header__cart {
  display: flex;
  padding: 7px 15px;
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  background: #333232;
  transition: 0.3s;
}
.header__cart span {
  margin-right: 10px;
}
.header__cart:hover {
  color: #000000;
  background: #ffffff;
}
.header__login {
  display: flex;
  padding: 7px 15px;
  font-size: 18px;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid transparent;
  transition: 0.3s;
}
.header__login span {
  margin-right: 10px;
  font-size: 20px;
}
.header__login:hover {
  border-color: #fff;
}

.header-menu {
  font-family: "Montserrat";
  font-weight: 500;
}
.header-menu__wrap {
  max-width: 1010px;
  padding: 20px;
}
.header-menu__list {
  display: flex;
  justify-content: space-around;
  transition: 0.3s;
}
.header-menu__item {
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  color: #0E0E0E;
  padding: 0px 10px;
}
.header-menu__item:hover {
  text-decoration: underline;
}
.header-menu__line {
  display: block;
  height: 2px;
  width: 100%;
  background: #000000;
}
.header-menu__hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  width: 25px;
  margin-right: 30px;
}
.header-menu__heading {
  display: none;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  color: #0E0E0E;
  transition: 0.3s;
}
.header-menu__heading > span:first-child {
  margin-right: 20px;
}
.header-menu__heading:hover {
  background: #f0f0f0;
}

.crumbs {
  font-family: "Graphik";
  background: #e6e6e6;
}
.crumbs__wrap {
  padding: 10px 15px;
}
.crumbs a {
  text-decoration: none;
  color: #4e4e4e;
}
.crumbs a:hover {
  text-decoration: underline;
}
.crumbs span {
  margin: 0px 5px;
}

.mainBanner {
  background: url(../../img/mainBanner-bg.png);
  background-size: cover;
}
.mainBanner .slick-dots {
  position: absolute;
  top: 0;
}
.mainBanner .slick-dots li button {
  border: none;
  background: none;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  color: #ffffff;
  transition: 0.3s ease-in;
}
.mainBanner .slick-dots li button::before, .mainBanner .slick-dots li button:after {
  transition: 0.3s;
  display: block;
  content: "";
  height: 20px;
  margin: -1px 0;
  width: 2px;
  background: #fff;
}
.mainBanner .slick-dots .slick-active button {
  font-size: 39px;
  line-height: 39px;
  color: #000000;
}
.mainBanner .slick-dots .slick-active button::before, .mainBanner .slick-dots .slick-active button::after {
  height: 92px;
}
.mainBanner .slick-dots li:first-child button::before {
  display: none;
}
.mainBanner .slick-dots li:first-child button::after {
  margin-top: 5px;
}
.mainBanner .slick-dots li.slick-active:nth-child(2) button::before, .mainBanner .slick-dots li.slick-active:nth-child(2) button::after {
  height: 56px;
}
.mainBanner .slick-dots li:nth-child(2) button::before {
  margin-bottom: 5px;
}
.mainBanner .slick-dots li:nth-child(2) button::after {
  margin-top: 5px;
}
.mainBanner .slick-dots li:last-child button::after {
  display: none;
}
.mainBanner .slick-dots li:last-child button::before {
  margin-bottom: 5px;
}
.mainBanner__wrap {
  padding: 260px 15px;
}
.mainBanner__slider {
  position: relative;
  max-width: 750px;
  padding: 65px 0;
  font-family: "Montserrat";
  font-weight: bold;
}
.mainBanner__slider-bg {
  position: absolute;
  background: #e6e6e6;
  height: 100%;
  width: 200%;
  right: 0;
  top: 0;
}
.mainBanner__slider-body {
  overflow: hidden;
}
.mainBanner__slider-wrap {
  position: relative;
  display: flex;
  z-index: 2;
  min-height: 275px;
}
.mainBanner__slider-dots {
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 255px;
  min-width: 34px;
  position: relative;
}
.mainBanner__heading {
  font-size: 46px;
  margin-bottom: 20px;
}
.mainBanner__subheading {
  text-transform: uppercase;
  font-family: "Graphik";
}
.mainBanner__button {
  background: #ffffff;
  margin-top: 40px;
}

.catalog {
  font-family: "Montserrat";
}
.catalog__wrap {
  padding-top: 60px;
  padding-bottom: 60px;
}
.catalog__grid {
  grid-template-rows: repeat(auto-fit, 400px);
}
.catalog__item {
  position: relative;
  max-height: 400px;
}
.catalog__item:hover .catalog__item-img {
  transform: scale(1.1);
}
.catalog__item-wrap {
  height: 100%;
  display: block;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}
.catalog__item-desc {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  padding: 25px 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  box-sizing: border-box;
}
.catalog__item-desc span {
  color: #ffffff;
}
.catalog__item-desc span.icon-chevron {
  font-size: 12px;
}
.catalog__item-img {
  transition: 0.3s;
  height: 100%;
  width: auto;
  transform: scale(1.02);
}
.catalog__item--big {
  grid-column: span 2;
}

.popular {
  background: #E6E6E6;
}
.popular__wrap {
  padding-top: 60px;
  padding-bottom: 60px;
}
.popular__badge {
  color: #ffffff;
  background: #363434;
  z-index: 10;
}
.popular__item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #ffffff;
}
.popular__item-img {
  max-height: 290px;
  overflow: hidden;
  display: block;
}
.popular__item-img img {
  width: 100%;
  transition: 0.3s;
}
.popular__item-desc {
  background: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.popular__item-button {
  background: #ffffff;
  color: #000000;
}
.popular__item-price {
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
  font-family: "Montserrat";
  letter-spacing: 1.2px;
}
.popular__item:hover .popular__item-img img {
  transform: scale(1.1);
}

.discount {
  background: #E6E6E6;
}
.discount__wrap {
  padding-bottom: 115px;
  padding-top: 50px;
}
.discount__button {
  background: #ffffff;
  color: #000000;
}
.discount__item {
  position: relative;
}
.discount__item:hover .discount__item-img img {
  transform: scale(1.05);
}
.discount__item--big {
  grid-column: span 2;
}
.discount__item--big .discount__item-wrap {
  display: flex;
  flex-direction: row-reverse;
}
.discount__item--big .discount__item-desc {
  height: 100%;
  width: auto;
  top: 0;
  left: 60px;
}
.discount__item-img {
  width: 100%;
}
.discount__item-img--mobile {
  display: none;
}
.discount__item-img img {
  width: 100%;
  transform: scale(1.01);
  transition: 0.3s;
}
.discount__item-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  color: #ffffff;
  bottom: 0;
  padding-bottom: 35px;
}
.discount__item-price {
  font-family: "Montserrat";
  font-weight: bold;
  letter-spacing: 1.2px;
  font-size: 36px;
  margin-bottom: 40px;
}
.discount__item-price--old {
  font-size: 24px;
  text-decoration: line-through;
  color: #b9b9b9;
  margin: 20px 0;
  font-family: "Montserrat";
  font-weight: bold;
  letter-spacing: 1.2px;
}
.discount__pricerow {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.discount__pricerow .discount__item-price {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-bottom: 0;
}
.discount__pricerow .discount__item-price--old {
  font-size: 14px;
  margin: 0;
  margin-right: 20px;
}
.discount__pricerow--big {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.discount__pricerow--big .discount__item-price {
  font-size: 36px;
  margin-bottom: 40px;
}
.discount__pricerow--big .discount__item-price--old {
  font-size: 24px;
}
.discount__badge {
  background: #ffffff;
  color: #000000;
}
.discount__badge--big {
  position: unset;
  color: #ffffff;
  background: #363434;
  z-index: 10;
  margin-bottom: 30px;
}
.discount__badge--mobile {
  display: none;
}

.guaranties {
  background: url(../../img/guaranties-bg.png);
  background-size: cover;
  background-position: center;
  color: #ffffff;
}
.guaranties__wrap {
  padding: 130px 15px;
}
.guaranties__title {
  text-align: left;
  margin-bottom: 70px;
  color: #ffffff;
}
.guaranties .heading {
  margin-bottom: 15px;
}
.guaranties__text {
  max-width: 1025px;
}
.guaranties__item {
  display: flex;
}
.guaranties__item-icon {
  margin-right: 20px;
  width: 40px;
  font-size: 38px;
}
.guaranties__item-icon .icon-bracelet {
  font-size: 24px;
}
.guaranties__item-paragraph {
  font-family: "Graphik";
  line-height: 25px;
  font-size: 18px;
}
.guaranties__body {
  display: grid;
  min-height: 350px;
  grid-template-columns: repeat(auto-fit, 50%);
  align-content: space-between;
}

.seo__wrap {
  padding: 80px 15px;
  display: flex;
  justify-content: space-between;
}
.seo__text {
  max-width: 910px;
  width: 100%;
  margin-right: 20px;
  font-size: 18px;
  font-family: "Montserrat";
  line-height: 25px;
}
.seo__img {
  max-width: 520px;
  min-width: 420px;
}
.seo__img img {
  width: 100%;
}
.seo__row {
  margin-bottom: 50px;
}
.seo__bold {
  font-weight: bold;
}
.seo__list {
  margin-top: 20px;
}
.seo__item {
  margin-bottom: 20px;
}

.card {
  font-family: "Montserrat";
}
.card__wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 70px;
}
.card__gallery {
  display: flex;
  flex-direction: column;
  max-width: 780px;
  min-width: 350px;
  width: 100%;
  margin-right: 20px;
}
.card__gallery .photo-box {
  width: 100%;
  margin-bottom: 15px;
  max-height: 630px;
  overflow: hidden;
}
.card__gallery .photo-box img {
  width: 100%;
}
.card__gallery .thumbs {
  display: flex;
  justify-content: space-between;
}
.card__gallery .thumbs img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 145px;
  width: calc(20% - 10px);
}
.card__gallery .thumbs img:last-child {
  margin-right: 0;
}
.card__gallery .thumbs img:first-child {
  margin-left: 0;
}
.card__desc {
  max-width: 650px;
  width: 100%;
  flex-shrink: 2;
}
.card__desc-top {
  width: 100%;
  box-sizing: border-box;
  background: #f0f0f0;
  padding: 45px 50px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
}
.card__desc-bottom {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 45px;
}
.card__desc-bottom .card__row:first-child {
  justify-content: space-between;
  flex-wrap: wrap;
}
.card__subheading {
  display: block;
  font-size: 23px;
  font-family: "Graphik";
  margin-bottom: 10px;
  line-height: 30px;
}
.card__heading {
  font-size: 48px;
}
.card__price {
  font-weight: bold;
  font-size: 36px;
  margin: 20px 0;
}
.card__red {
  font-weight: bold;
  color: #ff1515;
  margin-bottom: 20px;
}
.card__row {
  display: flex;
  margin-bottom: 20px;
}
.card__row:last-child {
  margin: 0;
}
.card__row > img {
  margin-right: 20px;
}
.card__button {
  background: #000000;
  color: #ffffff;
  min-width: -webkit-max-content;
  min-width: max-content;
  padding: 20px 30px;
  margin-right: 20px;
  border-color: #000000;
}
.card__button:hover {
  background: #ffffff;
  color: #000000;
}
.card__bold {
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: -4px;
}
.card__col {
  margin-right: 40px;
  font-size: 18px;
  font-family: "Graphik";
}
.card__col li:not(:last-child) {
  margin-bottom: 20px;
}
.card__select {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}
.card__select:last-child {
  margin-right: 0;
}
.card__select > span {
  margin-right: 20px;
  font-size: 21px;
  font-weight: 500;
}

.desc__title {
  text-align: left;
  margin-bottom: 25px;
}
.desc__top {
  background: #f0f0f0;
}
.desc__top-body {
  display: flex;
  justify-content: space-between;
}
.desc__top-img {
  max-width: 780px;
  min-width: 350px;
  width: 100%;
  margin-right: 20px;
}
.desc__top-img img {
  width: 100%;
}
.desc__top-text {
  max-width: 650px;
  font-size: 18px;
  font-family: "Graphik";
  line-height: 27px;
  flex-shrink: 2;
}
.desc__top-wrap {
  padding-top: 60px;
  padding-bottom: 60px;
}
.desc__bold {
  font-family: "Montserrat";
  font-weight: bold;
  margin-top: 20px;
}
.desc__bottom-wrap {
  display: flex;
  justify-content: space-between;
}
.desc__tabs {
  max-width: 780px;
  min-width: 350px;
  width: 100%;
  margin-right: 20px;
  font-family: "Montserrat";
  padding-top: 70px;
  padding-bottom: 70px;
}
.desc__tabs-item {
  display: none;
}
.desc__tabs-item--active {
  display: block;
}
.desc__tabs-row {
  font-size: 24px;
  padding: 15px;
  display: flex;
  align-items: center;
}
.desc__tabs-row--dark {
  background: #f0f0f0;
}
.desc__tabs-row span {
  display: block;
  width: 50%;
}
.desc__tabs-row .desc__bold {
  margin: 0;
}
.desc__tabs-caption {
  display: flex;
  margin-bottom: 60px;
}
.desc__tabs-caption li {
  display: block;
  margin-right: 50px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
  cursor: pointer;
  min-width: -webkit-max-content;
  min-width: max-content;
}
.desc__tabs-caption li.active, .desc__tabs-caption li:hover {
  font-weight: bold;
  background: #000000;
  color: #ffffff;
}
.desc__black {
  max-width: 650px;
  min-width: 400px;
  height: 100%;
  background: #000000;
  color: #ffffff;
  padding: 50px 65px;
  box-sizing: border-box;
  margin: -30px 0;
}
.desc__black-item:not(:last-child) {
  margin-bottom: 40px;
}
.desc__black-heading {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.desc__black-heading [class^=icon-], .desc__black-heading [class*=" icon-"] {
  margin-right: 5px;
  font-size: 20px;
  display: block;
  width: 25px;
}
.desc__black-heading .icon-delivery {
  font-size: 16px;
}
.desc__black-paragraph {
  font-family: "Graphik";
  font-size: 19px;
  max-width: 510px;
  line-height: 29px;
}

.cardRow {
  background: #E6E6E6;
}
.cardRow__wrap {
  padding: 120px 20px;
  padding-bottom: 70px;
}

.loupe {
  z-index: 100;
}

.footer {
  background: #0E0E0E;
  padding: 40px 15px;
  font-family: "Montserrat";
}
.footer__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__item {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}
.footer__item [class^=icon-],
.footer__item [class*=" icon-"] {
  margin-right: 30px;
  font-size: 22px;
  color: #ffffff;
}
.footer__item-body {
  display: flex;
  flex-direction: column;
}
.footer__item-row {
  font-weight: bold;
  font-size: 19px;
  color: #ffffff;
  margin-bottom: 5px;
  text-decoration: none;
}
.footer__item-row--thin {
  font-weight: 400;
}
.footer__item-btn {
  color: #ffffff;
  margin-top: 5px;
}

* {
  box-sizing: border-box;
}

.__select {
  position: relative;
  width: 150px;
  height: 50px;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
}
.__select[data-state=active] .__select__title::before {
  transform: translate(-3px, -50%) rotate(-45deg);
}
.__select[data-state=active] .__select__title::after {
  transform: translate(3px, -50%) rotate(45deg);
}
.__select[data-state=active] .__select__content {
  opacity: 1;
}
.__select[data-state=active] .__select__label + .__select__input + .__select__label {
  max-height: 40px;
  border-top-width: 1px;
}

.__select__title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  background: #f0f0f0;
  cursor: pointer;
}
.__select__title::before, .__select__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  display: block;
  width: 10px;
  height: 2px;
  transition: all 0.3s ease-out;
  background-color: #333333;
  transform: translate(-3px, -50%) rotate(45deg);
}
.__select__title::after {
  transform: translate(3px, -50%) rotate(-45deg);
}

.reset {
  display: flex;
  width: 230px;
  padding: 8px 16px;
  margin: 0 auto;
  margin-bottom: 10px;
  transition: all 0.2s ease-out;
  cursor: pointer;
  font-weight: bold;
  background-color: #ffffff;
  color: #333333;
}
.reset:hover {
  background-color: #D8093A;
  color: #ffffff;
}

.__select__content {
  position: absolute;
  top: 50px;
  left: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #f0f0f0;
  border-top: none;
  transition: all 0.3s ease-out;
  opacity: 0;
  z-index: 8;
}

.__select__input {
  display: none;
}
.__select__input:checked + label {
  background-color: #dedede;
}
.__select__input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}

.__select__label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  max-height: 0;
  padding: 0 16px;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
}
.__select__label + input + .__select__label {
  border-top: 0 solid #C7CCD160;
}
.__select__label:hover {
  background-color: #e4e4e4 !important;
}